In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

In [9]:
ls

store.csv  test.csv   train.csv

In [32]:
df = pd.read_csv('../Data/store.csv')

In [35]:
def id_create(dataframe):
    df['id'] = df.index + 1

    # Movendo a coluna id para a primeira posição do dataset
    coluna_id = df.pop('id')
    df.insert(0, 'id', coluna_id)

In [36]:
id_create(df)

In [37]:
df

,id,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1110,1111,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"